body{
background-color: black;
font-family: "Josefin Sans", sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size:50px
}

.parrafo-1{
    max-width: 800px;
    margin: 0 auto;
    font-style: italic;
    color: white;
    border: 0.1px solid white;
    padding: 10px;
}

h2{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.imagenes img{
    height: 120px;
    width: auto;
    margin-right: 10px;
}

.imagen-contenedor{
    text-align: center;
    margin-right: 50px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.imagen-contenedor p {
    margin-top: 5px;
    font-family: "Josefin Sans", sans-serif;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-top: 55px;
    margin-right: 175px;
  }
  
  .inputs {
    text-align: center;
  }
  
  .inputs input,
  .inputs button {
    display: block;
    margin-bottom: 10px;
    width: 200%;
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
  }